 body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: rgb(209, 116, 116);
            background-color: rgb(247, 196, 173);
        }
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;

}
a {
            color: rgb(255, 0, 0);
}

a.hover{
    text-decoration: underline;
    font-weight: bold;
}

.resumeListHeading{
    font-weight: bold;
    font-style: normal;
}

.underline{text-decoration: underline;}
.bold{font-weight: bold;}
.justify{text-align: justify;}

.homebg{
    background-image: url('../images/IMG_6830.jpg');
    background-position: top left;
    background-size: cover;
}